

useDynLib(pbv)



####################################################
################## IMPORTS #########################
####################################################

#***************************************************
#*************** R Basics / Linking To *************
#***************************************************

importFrom(Rcpp, evalCpp)

#***************************************************
#********** Imports (own packages) *****************
#***************************************************



#***************************************************
#************** Imports ****************************
#***************************************************



#***************************************************
#************** Suggests ***************************
#***************************************************
# requireNamespace("another_package")



####################################################
################## EXPORTS #########################
####################################################

export(dbvnorm)
export(pbvnorm)





################################################
################ S3 methods ####################
################################################

